# Microsoft Fabric Configuration
FABRIC_TENANT_ID = 7e0bcc70-ce57-4485-8164-2da9963c0c69
FABRIC_CLIENT_ID = ef7daa30-deac-4cd1-a3d9-29b5f5f03374
FABRIC_CLIENT_SECRET = LsP8Q~Cav.vS2yV0OB~jTAlgcCjTANtAYAHgcddj
FABRIC_WORKSPACE_ID = 1a5e9594-c112-43d0-8cdd-012f7746c1b1

# Snowflake Configuration
SNOWFLAKE_ACCOUNT=FA97567.central-india.azure
SNOWFLAKE_USER=SYNC_SERVICE
SNOWFLAKE_PASSWORD=StrongPassword@123
SNOWFLAKE_WAREHOUSE=COMPUTE_WAREHOUSE
SNOWFLAKE_DATABASE=ANALYTICS_DB
SNOWFLAKE_SCHEMA=SEMANTIC_LAYER

# Sync Configuration
SYNC_MODE=bidirectional
DRY_RUN=false
LOG_LEVEL=INFO